<html>
<body>

<link rel="stylesheet" type="text/css" href="calendar.component.css">

<div class="day monday">
	<div class="day_title">Time</div>
	<div class="hour">Monday</div>
	<div class="hour">Tuesday</div>
	<div class="hour">Wednesday</div>
	<div class="hour">Thursday</div>
	<div class="hour">Friday</div>
	<div class="hour">Saturday</div>
	<div class="hour">Sunday</div>
</div>

<div class="day time">
	<div class="day_title">8:00 AM</div>
	<div class="class short red" data-tooltip="Apple">Apple</div>
	<div class="class short blue" data-tooltip="Banana">Banana</div>
	<div class="class short grey" data-tooltip="Carmel">Carmel</div>
	<div class="class short blue" data-tooltip="Donuts">Donuts</div>
</div>

<div class="day time">
	<div class="day_title">8:30 AM</div>
</div>

<div class="day time">
	<div class="day_title">9:00 AM</div>
</div>

<div class="day time">
	<div class="day_title">9:30 AM</div>
</div>

<div class="day time">
  <div class="day_title">10:00 AM</div>
	<div class="class spacing"></div>

</div>

<div class="day time">
  <div class="day_title">10:30 AM</div>
	<div class="class spacing"></div>

</div>

<div class="day time">
  <div class="day_title">11:00 AM</div>
	<div class="class spacing"></div>

</div>

<div class="day time">
  <div class="day_title">11:30 AM</div>
	<div class="class spacing"></div>
</div>

<div class="day time">
  <div class="day_title">12:00 PM</div>
	<div class="class spacing"></div>
</div>

</body>
</html> -->
